<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>history</string>
		<key>title</key>
		<string>历史</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>collect</string>
		<key>title</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>follow</string>
		<key>title</key>
		<string>跟帖</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>coin</string>
		<key>title</key>
		<string>金币</string>
	</dict>
</array>
</plist>
